* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#file-input-label {
    display: block;
    width: min(400px, 98vw);
    height: min(200px, 60vh);
    border: 1px solid salmon;
}

#file-input {
    opacity: 0;
}
